# Config config-cli build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible



# Deploy with mgmt_cli

{%for fsg, value in cp_fwpolicy.items()%}
# Firewall Service Group Provider {{  fsg }}

{%for  fsg_provider_group , value in cp_fwpolicy[fsg].items()%}

add group name "{{ fsg_provider_group }}" comments "Endpoints for Service Provider {{ cp_fwpolicy_resourcegroup | default() }} ({{ cp_fwpolicy_caseid | default() }})" --format json

{%for  fwobject , value in cp_fwpolicy[fsg][fsg_provider_group].items()%}

# add Firewall Service Group Hosts 

add host  name "{{ fwobject }}" ip-address "{{ value.ipv4}}" comments "Endpoint for {{ cp_fwpolicy_resourcegroup | default() }} ({{ cp_fwpolicy_caseid | default() }})" color "{{ cp_fwpolicy_hostcolor|default('black') }}" groups.1 "{{ fsg_provider_group }}" --version 1.1 --format json


-  ( )

{%endfor%}
{%endfor%}
{%endfor%}
