# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## Checkpoint Firewall Policy

{%for fsg, value in cp_fwpolicy.items()%}
{{ fsg }}
{%for  fsg_provider_group , value in cp_fwpolicy[fsg].items()%}
#### add Firewall Service Group {{ fsg_provider_group }}
{%for  fwobject , value in cp_fwpolicy[fsg][fsg_provider_group].items()%}
- {{ fwobject }} ({{ value.ipv4}} )

{%endfor%}

{%endfor%}
{%endfor%}